@mixin common-input {
  display: block;
  // width: 100%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: $color-black;
  background-color: $color-white;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  outline: 0;
  transition: border-color 300ms ease-in-out;

  &:focus {
    border-color: rgba($color: $primary-color, $alpha: 0.8);
  }
}

input.form {
  &-control {
    @include common-input();
    padding: 0.375rem 0.75rem;
  }
}

select.form {
  &-select {
    @include common-input();
    padding: 0.375rem 2.5rem 0.375rem 0.75rem;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
